.lead-logo{
  width: .8rem;
  height: .21rem;
  background: url("../image/logo.png") 0 0 no-repeat;
  background-size: cover;
}
.lead-common-bg{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(#1b1f27, #101217); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#1b1f27, #101217); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#1b1f27, #101217); /* Firefox 3.6 - 15 */
  background: linear-gradient(#1b1f27, #101217); /* 标准的语法 */
}
.lead-into-page{
  padding: 0.89rem .4rem 0;
  z-index: 1000;
  color: #ffffff;
  .lead-title{
    height: .32rem;
    margin: .08rem 0 .16rem;
    font-size: .24rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .32rem;
    letter-spacing: 0;
    color: #ffffff;
  }
  .lead-desc{
    line-height: .22rem;
    font-size: .18rem;
    color: #baedff;
  }
  .lead-progress{
    right: .4rem;
    bottom: .27rem;
    left: .27rem;
    height: .43rem;
  }
  .progress-body{
    width: 100%;
    height: .04rem;
    font-size: 0;
    background-color: #7c7d80;
    border-radius: .02rem;
  }
  .lead-plan{
    left: 0;
    height: .43rem;
  }
  .plan-mark{
    width: 0;
    height: .04rem;
    background-color: #d4f5ff;
  }
  .lead-progress-desc{
    top: -.05rem;
    right: 0;
    left: 0;
    font-size: .12rem;
    color: #e8e8e8;
  }
  .lead-language{
    right: 0;
    bottom: .94rem;
    left: 0;
    span{
      width: .54rem;
      height: .32rem;
      line-height: .32rem;
      font-size: .18rem;
      color: #ffffff;
      border: 1px solid rgba(255,255,255,.9);
    }
  }
}
.lead-video{
  video{
    width: 100%;
    height: 100%;
  }
  .sound-btn-common{
    bottom: .2rem;
    width: .15rem;
    height: .15rem;
    background-size: cover;
  }
  #openSoundBtn{
    background: url("../image/sound.png") 0 0 no-repeat;
  }
  #closeSoundBtn{
    background: url("../image/sound.png") 0 0 no-repeat;
  }
}
#stageCover, #stage, canvas{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}
canvas{
  z-index: 99;
}
.go-back{
  width: .09rem;
  height: .22rem;
  top: .28rem;
  left: .28rem;
  background: url("../image/back.png") 0 0 no-repeat;
  background-size: cover;
  z-index: 10000;
}
#stage{
  bottom: 0;
  height: 100%;
  background-color: #e8e8e8;
  //background: -webkit-linear-gradient(rgba(34,38,48,.5), rgba(255,255,255,0), rgba(255,255,255,0)); /* Safari 5.1 - 6.0 */
  //background: -o-linear-gradient(rgba(34,38,48,.5), rgba(255,255,255,0), rgba(255,255,255,0)); /* Opera 11.1 - 12.0 */
  //background: -moz-linear-gradient(rgba(34,38,48,.5), rgba(255,255,255,0), rgba(255,255,255,0)); /* Firefox 3.6 - 15 */
  //background: linear-gradient(rgba(34,38,48,.5), rgba(255,255,255,0), rgba(255,255,255,0)); /* 标准的语法 */
}
#stageCover{
  bottom: 0;
  padding-top: .17rem;
  z-index: 100;
  .lead-logo{
    width: .51rem;
    height: .14rem;
    margin-left: .17rem;
  }
  .module-sound-title{
    height: .15rem;
    margin-top: .29rem;
    line-height: .15rem;
    font-size: .12rem;
    font-weight: bold;
    font-stretch: normal;
    color: #333333;
  }
  .run-way{
    top: 2.0rem;
    left: .4rem;
  }
  .location{
    top: 3.09rem;
    left: 1.65rem;
  }
  .data-story{
    top: 3.49rem;
    right: .55rem;
  }
  .terminal{
    top: 4.04rem;
    left: .6rem;
  }
  .video-1{
    top: 4.23rem;
    right: .6rem;
  }
  .inside{
    top: 4.47rem;
    left: 1.27rem;
  }
  .stage-cover-connect{
    right: .23rem;
    top: .13rem;
  }
  .connect-about{
    margin-right: .17rem;
    line-height: .15rem;
    font-size: .12rem;
    color: #ffffff;
  }
  .connect-share{
    width: .13rem;
    height: .17rem;
    background: url("../image/share.png") 0 0 no-repeat;
    background-size: cover;
  }
  .stage-cover-about-page{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.4);
    overflow: auto;
  }
}

.module-btn-common{
  display: inline-block;
  position: absolute;
  span{
    min-width: .84rem;
    line-height: .24rem;
    padding: 0 .11rem;
    font-size: .12rem;
    color: #ffffff;
    text-align: center;
    border: 1px solid #ffffff;
  }
  .oval-copy {
    width: .13rem;
    height: .13rem;
    margin-top: .06rem;
    box-shadow: 0 0 .1rem 0 #9ec4ff;
    border-radius: .65rem;
  }
}

.about-main{
  width: 2.23rem;
  top: .99rem;
  bottom: 0;
  overflow: auto;
  div{
    margin-bottom: .20rem;
    line-height: .15rem;
    font-size: .12rem;
    color: #ffffff;
  }
  p{
    margin-bottom: .16rem;
    line-height: .18rem;
    font-size: .14rem;
    color: #ffffff;
  }
}
.stage-cover-terminal{
  .terminal-title {
    top: .47rem;
    left: .29rem;
    font-size: .12rem;
    line-height: .22rem;
    color: #ffffff;
  }
  .terminal-title1{
    top: .69rem;
    left: .29rem;
    line-height: .3rem;
    font-size: .24rem;
    color: #faf9f9;
  }
  .terminal-area{
    top: 1.07rem;
    left: .29rem;
    line-height: .22rem;
    font-size: .18rem;
    color: #faf9f9;
    .terminal-area-number{
      color: #baedff;
    }
  }
  .terminal-close{
    width: .58rem;
    height: .36rem;
    top: 1.56rem;
    left: .29rem;
    line-height: .36rem;
    font-size: .16rem;
    color: #ffffff;
    border: 1px solid #ffffff;
  }

}

.module-video-page{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background-color: #fff;
  #moduleVideo{
    width: 100%;
    height: 100%;
  }
  .video-control-section{
    width: 3.4rem;
    height: .24rem;
    bottom: .29rem;
    font-size: 0;
  }
  #currentVideoTime{
    left: 0;
    width: .48rem;
    height: .18rem;
    line-height: .18rem;
    font-size: .12rem;
    color: #ffffff;
    background-color: rgba(83,83,89,.28);
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .current-video-progress{
    width: 2.9rem;
    height: .04rem;
    margin-right: .09rem;
    background-color: #8A8A8E;
  }
  .video-current-show-section{
    width: 2.9rem;
    top: -.28rem;
    left: 0;
  }
  #currentVideoProgressShow{
    width: 0;
    height: .04rem;
    background-color: #759ad3;
  }
  #currentVideoTotalTIme{
    font-size: .12rem;
    color: #ffffff;
  }
  .video-play-btn{
    width: .8rem;
    height: .8rem;
  }
  .is-play{
    background: url("../image/play.png") 0 0 no-repeat;
    background-size: cover;
  }
  .is-stop{
    background: url("../image/stop.png") 0 0 no-repeat;
    background-size: cover;
  }
}

#stageCoverPlanShow{
  right: 0;
  bottom: 0;
  left: 0;
  height: .58rem;
  padding-left: .14rem;
  line-height: .58rem;
  font-size: 0;
  background-color: rgba(0,0,0,.8);
  i{
    width: .63rem;
    height: .29rem;
    background: url("../image/airfare.png") 0 0 no-repeat;
    background-size: cover;
  }
  span{
    height: .41rem;
    margin-left: .21rem;
    padding-left: .21rem;
    line-height: .41rem;
    font-size: .12rem;
    color: #ffffff;
    border-left: 1px dotted #ffffff;
  }
}

#moduleDataShowPage{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  overflow: auto;
  background-color: #ffffff;
  h4{
    top: .66rem;
    left: .23rem;
    line-height: .28rem;
    font-size: .24rem;
    color: #ffffff;
    font-weight: 400;
    z-index: 1000;
  }
  .data-store-intro-word{
    top: 1.02rem;
    width: 3.3rem;
    line-height: .24rem;
    font-size: .17rem;
    color: #baedff;
    z-index: 1000;
  }
  .data-store-1{
    background-color: rgba(29,33,41, 1);
  }
  .data-store-radar{
    width: 3.19rem;
    height: 3.19rem;
    top: 1.96rem;
    background: url("../image/radar.png") 0 0 no-repeat;
    background-size: cover;
  }
  .radar-item{
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 #9ec4ff;
  }
  .radar-item.active{
    background-color: #9ec4ff;
    box-shadow: 0 0 .1rem 0 #9ec4ff;
  }
  .radar-small{
    width: .05rem;
    height: .05rem;
  }
  .radar-middle{
    width: .1rem;
    height: .1rem;
  }
  .radar-bigger{
    width: .13rem;
    height: .13rem;
  }
  .radar-larger{
    width: .15rem;
    height: .15rem;
  }
  .show-data-store-desc{
    padding-left: .18rem;
    line-height: .16rem;
    font-size: .12rem;
    color: #baedff;
    span{
      padding: 0;
      font-size: .14rem;
    }
  }
}

.data-store-1,
.data-store-2,
.data-store-3,
.data-store-4{
  width: 100%;
  height: 100%;
}
.data-store-2,
.data-store-3{
  background-color: #1c1f27;
}
.data-store-main-common{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.data-store-4{
  background: url("../image/module_footer.png") 0 0 no-repeat;
  background-size: cover;
  .data-store-4-main{
    top: 1.64rem;
    width: 3.28rem;
    padding: .12rem .28rem;
    line-height: .22rem;
    font-size: .18rem;
    color: #baedff;
    border: 1px solid #8aafbd;
  }
}

.data-store-2-left{
  top: 2.03rem;
  left: .13rem;
  width: 1.6rem;
  height: 3.48rem;
  .plan-num-static{
    margin-bottom: .77rem;
  }
  .plan-num-img{
    width: .16rem;
    height: .16rem;
    background: url("../image/plan1.png") 0 0 no-repeat;
    background-size: cover;
  }
  .people-num-img{
    width: .16rem;
    height: .16rem;
    background: url("../image/people.png") 0 0 no-repeat;
    background-size: cover;
  }
  .plan-nums{
    line-height: .16rem;
    font-size: .14rem;
    color: #ffffff;
  }
  span{
    line-height: .16rem;
    font-size: .12rem;
    color: #ffffff;
  }
}

#getPlanPage{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background: -webkit-linear-gradient(#222630, #101217); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#222630, #101217); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#222630, #101217); /* Firefox 3.6 - 15 */
  background: linear-gradient(#222630, #101217); /* 标准的语法 */
  .input-name-title{
    top: 1.38rem;
    width: 3.08rem;
    font-size: .24rem;
    color: #ffffff;
  }
  .input-where-title{
    top: 3.02rem;
    width: 3.08rem;
    font-size: .24rem;
    color: #ffffff;
  }
  .input-common{
    width: 3.08rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    font-size: .18rem;
    color: #ffffff;
    background-color: rgba(255,255,255,0);
    border: 1px solid #ffffff;
  }
  input::-webkit-input-placeholder{
    font-size: .18rem;
    color: #ffffff;
  }
}
